@inherits LayoutComponentBase

<Drawer class="bg-body-tertiary sticky-top"
        Breakpoint="Breakpoints.Lg"
        FluidContainer
        SidebarHeader="Sidebar"
        SidebarCloseButton>
    <ChildContent>
        <div class="py-3">
            @Body
        </div>
    </ChildContent>
    <Sidebar>
        <Nav Vertical class="mt-md-2 w-100">
            <NavItem Title="Overview" Url="/" />
            <NavItem Title="Components">
                <NavItem Title="Accordion" Url="/components/accordion" />
                <NavItem Title="Alert" Url="/components/alert" />
                <NavItem Title="Badge" Url="/components/badge" />
                <NavItem Title="Button" Url="/components/button" />
                <NavItem Title="Button Group" Url="/components/button-group" />
                <NavItem Title="Card" Url="/components/card" />
                <NavItem Title="DataGrid" Url="/components/data-grid" />
                <NavItem Title="Dropdown" Url="/components/dropdown" />
                <NavItem Title="List Group" Url="/components/list-group" />
                <NavItem Title="Modal" Url="/components/modal" />
                <NavItem Title="Offcanvas" Url="/components/offcanvas" />
                <NavItem Title="Pager" Url="/components/pager" />
                <NavItem Title="Progress" Url="/components/progress" />
                <NavItem Title="Spinner" Url="/components/spinner" />
                <NavItem Title="Tab" Url="/components/tab" />
                <NavItem Title="Toast" Url="/components/toast" />
                @*                <NavItem Title="Drawer" />
                <NavItem Title="Nav" />
                *@
            </NavItem>
            <NavItem Title="Layouts">
                <NavItem Title="Grid" Url="/components/layout/grid" />
                <NavItem Title="Stack Panel" Url="/components/layout/stack-panel" />
            </NavItem>
            <NavItem Title="Forms">
                <NavItem Title="Form" Url="/components/Forms/form" />
            </NavItem>
            <NavItem Title="Api" />
            <NavItem Title="Costomization" />
        </Nav>
    </Sidebar>
    <Header>
        <div class="d-flex">
            <button class="navbar-toggler d-flex d-md-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#optionsNavbar" aria-controls="optionsNavbar" aria-label="Toggle navigation">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>

        <div class="offcanvas-md offcanvas-end flex-grow-1" tabindex="-1" id="optionsNavbar" aria-labelledby="optionsNavbarOffcanvasLabel" data-bs-scroll="true">
            <div class="offcanvas-header px-4 pb-0">
                <h5 class="offcanvas-title text-white" id="optionsNavbarOffcanvasLabel">Bootstrap</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#optionsNavbar"></button>
            </div>

            <div class="offcanvas-body p-4 pt-0 p-md-0">
                <ul class="navbar-nav flex-row flex-wrap">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/Components">Components</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/getting-started">Getting Started</a>
                    </li>
                </ul>
                <div class="flex-fill"></div>
                <ul class="navbar-nav flex-row flex-wrap">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="https://github.com/vrassouli/Bootstrap.Blazor" target="_blank">
                            <i class="bi bi-github"></i>
                            <small class="d-md-none ms-2">GitHub</small>
                        </a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <ThemeSwitch />
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <DirectionSwitch />
                    </li>
                </ul>
            </div>
        </div>
    </Header>
</Drawer>
<ModalContainer />
<OffcanvasContainer />
<ToastContainer class="position-absolute bottom-0 left-0  ps-3 pb-3" />