<Nav Vertical class="mt-md-2 w-100">
    <NavItem Title="Overview" Icon="bi bi-book-half" Url="/" />
    <NavItem Title="Components" Icon="bi bi-puzzle">
        <NavItem Title="Accordion" Url="/components/accordion" />
        <NavItem Title="Alert" Url="/components/alert" />
        <NavItem Title="Badge" Url="/components/badge" />
        <NavItem Title="Button" Url="/components/button" />
        <NavItem Title="Button Group" Url="/components/button-group" />
        <NavItem Title="Calendar" Url="/components/calendar" />
        <NavItem Title="Card" Url="/components/card" />
        <NavItem Title="DataGrid" Url="/components/data-grid" />
        <NavItem Title="Dropdown" Url="/components/dropdown" />
        <NavItem Title="List Group" Url="/components/list-group" />
        <NavItem Title="Modal" Url="/components/modal" />
        <NavItem Title="Offcanvas" Url="/components/offcanvas" />
        <NavItem Title="Pager" Url="/components/pager" />
        <NavItem Title="Progress" Url="/components/progress" />
        <NavItem Title="Spinner" Url="/components/spinner" />
        <NavItem Title="Tab" Url="/components/tab" />
        <NavItem Title="Toast" Url="/components/toast" />
        <NavItem Title="Tree View" Url="/components/tree-view" />
        @*                <NavItem Title="Drawer" />
        <NavItem Title="Nav" />
        *@
    </NavItem>
    <NavItem Title="Layouts" Icon="bi bi-grid-1x2-fill">
        <NavItem Title="Grid" Url="/components/layout/grid" />
        <NavItem Title="Master Detail" Url="/components/layout/master-detail" />
        <NavItem Title="Stack Panel" Url="/components/layout/stack-panel" />
    </NavItem>
    <NavItem Title="Forms" Icon="tui-empty">
        <NavItem Title="Form" Url="/components/Forms/form" />
    </NavItem>
    <NavItem Title="Api" Icon="tui-empty" />
    <NavItem Title="Costomization" Icon="tui-empty" />
</Nav>
