@namespace TopUI.Blazor.Bootstrap.Components
@inherits BootstrapComponent

<div @attributes=AdditionalAttributes>
    <div class="@string.Join(' ', GetMasterClasses())">
        @Master
    </div>
    @if (DetailVisibility)
    {
        <div class="@string.Join(' ', GetDetailClasses())">
            <div class="detail-header border-bottom">
                <h5 class="detail-title">@DetailTitle</h5>
                <button type="button" class="btn-close" @onclick=OnCloseDetail></button>
            </div>
            <div class="detail-body">
                @Detail
            </div>
        </div>
    }
</div>