@namespace TopUI.Blazor.Bootstrap.Components
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using TopUI.Blazor.Bootstrap.Components.Lists.DataGridComponent
@inherits BootstrapComponent
@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]

<CascadingValue Value="this" IsFixed>
    @Columns

    <div @attributes=AdditionalAttributes>
        @if (Toolbar != null || OnSearch.HasDelegate)
        {
            <div class="toolbar-content">
                <Toolbar Gap="2" FlexWrap="false" class="align-items-center">
                    @if (OnSearch.HasDelegate)
                    {
                        <InputGroup FlexFill="true">
                            <Addon><i class="bi bi-search"></i></Addon>
                            <TextBox @bind-Value="_searchText" @bind-Value:after="OnSearchChanged" Placeholder="@Localizer["Search..."]" DisableAutoComplete />
                        </InputGroup>
                    }
                    @if (Toolbar != null)
                    {
                        @Toolbar
                    }
                </Toolbar>
            </div>
        }
        <DataGridHeader TItem="TItem"></DataGridHeader>
        <div class="data-grid-content">
            <Virtualize @ref="_itemsContainer" ItemsProvider="GetItemsProvider">
                <ItemContent>
                    <DataGridRow Item="context" />
                </ItemContent>
                <Placeholder>
                    <DataGridRow TItem="TItem" Placeholder="true" />
                </Placeholder>
            </Virtualize>
            <BusyCover IsBusy=@IsBusy />
        </div>
    </div>
</CascadingValue>
