@typeparam TItem

<div class="data-grid-row @(IsSelected ? "active" : "")" @onclick="OnRowClick">
    @foreach (var col in DataGrid.DataColumns)
    {
        <RowCell Column="col" Item="Item"/>
    }
</div>