@namespace TopUI.Blazor.Bootstrap.Components
@inherits BootstrapComponent

<div @attributes=AdditionalAttributes>
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>