@page "/"

<PageTitle>Index</PageTitle>
@*<div class="d-flex flex-column flex-md-row gap-2 py-2">
    <Nav Pills class="">
        <Items>
            <NavItem Title="Item 11" Url="/" />
            <NavItem Title="Item 21">
                <Items>
                    <NavItem Title="Item 21.1" Url="/Page21.1" />
                    <NavItem Title="Item 21.2">
                        <Items>
                            <NavItem Title="Item 21.2.1" Url="/Page21.2.1" />
                            <NavItem Title="Item 21.2.2">
                                <Items>
                                    <NavItem Title="Item 21.2.2.1" Url="/Page21.2.2.1" />
                                    <NavItem Title="Item 21.2.2.2" Url="/Page21.2.2.2" />
                                    <NavItem Title="Item 21.2.2.3" Url="/Page21.2.2.3" />
                                </Items>
                            </NavItem>
                            <NavItem Title="Item 21.2.3" Url="/Page21.2.3" />
                        </Items>
                    </NavItem>
                    <NavItem Title="Item 21.3" Url="/Page21.3" />
                </Items>
            </NavItem>
            <NavItem Title="Item 31" Url="/Page31" />
        </Items>
    </Nav>

    <Nav Vertical class="flex-fill">
        <Items>
            <NavItem Title="Item 11" Url="/" />
            <NavItem Title="Item 21">
                <Items>
                    <NavItem Title="Item 21.1" Url="/Page21.1" />
                    <NavItem Title="Item 21.2">
                        <Items>
                            <NavItem Title="Item 21.2.1" Url="/Page21.2.1" />
                            <NavItem Title="Item 21.2.2">
                                <Items>
                                    <NavItem Title="Item 21.2.2.1" Url="/Page21.2.2.1" />
                                    <NavItem Title="Item 21.2.2.2" Url="/Page21.2.2.2" />
                                    <NavItem Title="Item 21.2.2.3" Url="/Page21.2.2.3" />
                                </Items>
                            </NavItem>
                            <NavItem Title="Item 21.2.3" Url="/Page21.2.3" />
                        </Items>
                    </NavItem>
                    <NavItem Title="Item 21.3" Url="/Page21.3" />
                </Items>
            </NavItem>
            <NavItem Title="Item 31" Url="/Page31" />
        </Items>
    </Nav>
</div>*@