@namespace TopUI.Blazor.Bootstrap.Components
@inherits Button

<div class="@GetWrapperClass()">
    @{
        base.BuildRenderTree(__builder);
    }
    @if (SplitButton)
    {
        <Button Mode="Mode" Size="Size" Outline="Outline" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">

        </Button>
    }
    <ul class="dropdown-menu">
        <CascadingValue Value="this" IsFixed>
            @DropdownContent
        </CascadingValue>
    </ul>
</div>