<button class="btn nav-link py-2 px-0 px-md-2 no-focus" @onclick="Switch">
    @if (_dir == "ltr")
    {
        <svg class="navbar-nav-svg" focusable="false" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 10v5h2V4h2v11h2V4h2V2h-8C7.79 2 6 3.79 6 6s1.79 4 4 4zm-2 7v-3l-4 4 4 4v-3h12v-2H8z"></path>
        </svg>
    }
    else
    {
        <svg class="navbar-nav-svg" focusable="false" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 10v5h2V4h2v11h2V4h2V2H9C6.79 2 5 3.79 5 6s1.79 4 4 4zm12 8l-4-4v3H5v2h12v3l4-4z"></path>
        </svg>
    }
    <small class="d-md-none ms-2">@GetActionTitle()</small>
</button>