@namespace TopUI.Blazor.Bootstrap.Components
@inherits UiComponent

<li @onpointerup="OnPointerDown">
    <a @attributes=AdditionalAttributes>
        @if(string.IsNullOrEmpty(Icon))
        {
            <i class="me-2 bi"></i>
        }
        else
        {
            <i class="me-2 @Icon"></i>
        }
        <span>@Title</span>
    </a>
</li>
